.body {
    min-height: 30rem;
    width: 100%;
}

.body h1 {
    text-align: center;
}

.body .article{
    display: flex;
    justify-content: center;
    width: 100%;
}

.body .article .content {
    width: 50%;
    border-right: 0.1rem solid #eeeeee;
    margin-right: 1rem;
}

.body .article .catalog {
    list-style:none;
    padding-left: 1rem;
}