html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.body {
    display: flex;
    justify-content: center;
    height: 90%;
}

.body .left {
    height: 100%;
    background-color: blue;
    width: 40%;
}

.body .right {
    width: 40%;
    height: 100%;
    background-color: beige;
}