html,body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

a:link {
    text-decoration: none;
    color: #525252;
}
a:visited {
    text-decoration: none;
    color: #525252;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
    color: #525252;
}


body {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    flex-direction:column;
}

header {
    height: 4.6rem;
    box-shadow: 0.2rem 0.3rem 0.5rem #eeeeee;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: center;
    height: 4.6rem;
}
header nav .logo{
    line-height: 4.6rem;
}

header nav .search{
    line-height: 4.6rem;
}

header nav .search .input{
    border: 0.1rem solid #525252;
    border-radius: 2rem;
    padding: 0.1rem 1.8rem 0.1rem 1rem;
    box-shadow: 0.1rem -0.1rem 0.1rem #999 inset;
}

header nav .search input {
    width: 8rem;
    border-width: 0;
    outline:medium;
    font-size: 1.4rem;
}

header nav .search input:focus {
    border-width: 0;
}

header nav .search i{
    margin-left: -2rem;
    font-size: 1.8rem;
}

header nav .menu {
    text-align: center;
    display: inline-block;
    width: 80%;
    line-height: 4.6rem;
    font-family:"Times New Roman",Georgia,sans-serif;
    color: #525252;
}

header nav .menu a {
    padding: 0.5rem 0.5rem;
}

header nav .menu a:link {
    text-decoration: none;
    color: #525252;
}
header nav .menu a:visited {
    text-decoration: none;
    color: #525252;
}
header nav .menu a:hover {
    text-decoration: none;
}
header nav .menu a:active {
    text-decoration: none;
    color: #525252;
}

.body {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.body .left {
    height: 100%;
    width: 43%;
    border-right: 0.1rem solid #eeeeee;
    padding-top: 1rem;
    padding-right: 1rem;
}

.body .left article {
    display: flex;
    justify-content: space-between;
    height: 15rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: 0.1rem solid #eeeeee;
}

.body .left article .summary {
    width: 66%;
}

.body .left article .summary .title h3{
    display: inline-block;
    margin-bottom: 0;
}

.body .left article .summary .title .time{
    font-size: 1.1rem;
    margin-left: 0.5rem;
    vertical-align:text-bottom;
}


.body .left article .summary p{
    font-size: 1.4rem;
    height: 50%;
}

.body .left article .summary p:hover{
    cursor:pointer;
}
.body .left article .summary .footer{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}

.body .left article .summary .footer .tag{
    font-size: 1.3rem;

}

.body .left article .summary .footer .tag a{
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    background-color: antiquewhite;
    
}

.body .left article .summary .footer .operate{
    font-size: 1.2rem;
}

.body .left article .summary .footer .operate i{
    font-size: 1.6rem;
    margin-left:0.5rem;
    margin-right: 0.2rem;
}

.body .left article .media {
    overflow:hidden;
    width: 20rem;
    height: 15rem;
}

.body .left article .media img {
    max-width: 100%;
}

.body .left ul {
    padding-left: 0;
    margin-top: 3rem;
}

.body .left ul li {
    list-style:none;
    display: inline-block;
    font-size: 1.4rem;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    border-radius: 2.2rem;
    cursor:pointer;
}

.body .left ul .input {
    border: 0.1rem solid black;
}

.body .left ul .focus{
    background-color: burlywood;
    color: white;
}

.body .left ul input {
    width: 3rem;
    border-width: 0;
    outline:medium;
}
.body .left ul input:focus {
    border-width: 0;
}


.body .right {
    width: 20%;
}

.body .return-top {
    position: fixed;
    right: 15rem;
    bottom: 10rem;
    cursor:pointer;
}

.body .return-top img {
    height: 6rem;
    transform: rotate(-45deg);

}

footer {
    width:100%;
    color: white;
    text-align: center;
    margin-top: 1rem;
    border-top: 0.1rem solid #eeeeee;
    height: 15rem;
    background-color: black;
}