html,body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    flex-direction:column;
}

header {
    height: 4.6rem;
    box-shadow: 0.2rem 0.3rem 0.5rem #eeeeee;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: center;
    height: 4.6rem;
}
header nav .logo{
    line-height: 4.6rem;
}

header nav .menu {
    text-align: center;
    display: inline-block;
    width: 80%;
    line-height: 4.6rem;
    font-family:"Times New Roman",Georgia,sans-serif;
    color: #525252;
}

header nav .menu a {
    padding: 0.5rem 0.5rem;
}

header nav .menu a:link {
    text-decoration: none;
    color: #525252;
}
header nav .menu a:visited {
    text-decoration: none;
    color: #525252;
}
header nav .menu a:hover {
    text-decoration: none;
}
header nav .menu a:active {
    text-decoration: none;
    color: #525252;
}

.body {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.body .left {
    height: 100%;
    width: 43%;
    border-right: 0.1rem solid #eeeeee;
    padding-top: 1rem;
    padding-right: 1rem;
}

.body .left article {
    display: flex;
    justify-content: space-between;
    height: 15rem;
    background-color: aliceblue;
    margin-bottom: 1rem;
}

.body .left article .summary {
}

.body .left article img {
    width: 30rem;
    height: 15rem;
}

.body .right {
    width: 20%;
}

footer {
    width:100%;
    text-align: center;
    margin-top: 1rem;
    border-top: 0.1rem solid #eeeeee;
    height: 4rem;
}