.content {
    display: flex;
    flex-direction: column;
}

.content .head-bar{
    height: 6%;
    margin: 0;
    padding: 0;
    border-bottom: 0.1rem solid #eeeeee;
    color: #aaaaaa;
}
.content .head-bar span{
    margin-top: 0.7%;
    margin-left: 2rem;
    font-size: 1.4rem;
    display: inline-block;
}

.content .edit {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 94%;
    padding-bottom: 1rem;
}

.content .edit .write-area {
    height: 100%;
    width: 48%;
    padding:1.2rem 0 0 0;

}

.content .edit .write-area textarea {
    width: 93%;
    height: 100%;
    overflow: scroll;
    resize: none;
    font-size: 1.4rem;
    border: none;
    padding-left: 2rem;
    text-align:justify;
}

.content .edit .write-area textarea:focus {
    outline: none;
}

.content .edit .bar {
    width: 100%;
    height: 5%;
    background-color: #0066ee;
}

.content .edit .preview {
    height: 100%;
    width: 48%;
    font-size: 1.4rem;
    text-align:justify;
    padding: 0 2rem 0 1rem;
    border-left: #eeeeee 0.15rem dotted;
    overflow-y: scroll;
    overflow-x: hidden;

}

.content .operate {
    height: 100%;
    width: 20%;
    background-color:#eeeeee;
    position: absolute;
    right: -20%;
}

.content .operate .gear {
    position: absolute;
    left: -2.5rem;
    display: inline-block;
    font-size: 2.5rem;
}

.content .operate .gear i:active {
    color: #0066ee;
}

.content .operate ul{
    list-style: none;
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
}

.content .operate ul p{
    margin: 1rem 0 0.5rem 0;
    font-size: 1.4rem;
}
.content .operate ul .title input{
    width: 100%;
    height: 1.6rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    border: none;
    outline: none;
}

.content .operate ul li{
    margin: 0;
    padding: 0;
}

.content .operate .cover {
    width: 100%;
    overflow: hidden;
    height: 12rem;
}

.content .operate .cover input{
    display: none;

}

.content .operate .cover label {
    width: 100%;
    height: 12rem;
    background-color: #66afe9;
}

.content .operate .cover img{
    max-width: 100%;
}

.content .operate .summary textarea{
    overflow: scroll;
    resize: none;
    width: 100%;
    height: 10rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
}

.content .operate .tags dt{
    font-size: 1.3rem;
    display: inline-block;
    background-color: #ffff99;
    padding: 0.25rem 1rem 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    position: relative;
}
.content .operate .tags dt i{
    top: 0;
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    color: red;
    display: none;
}

.content .operate .tags dt:hover i{
    display: inline-block;
}



.content .operate .save{
    width: 80%;
    height: 2rem;
    background-color: #0066ee;
    border-radius: 1rem;
    text-align: center;
    border: 0;
    outline: none;
    color: white;
    font-size: 1.4rem;
    padding: 0.2rem;
    position: absolute;
    bottom: 2rem;
}
.content .operate .save:active{
    background-color: #66afe9;
}


.tags-container {
    width: 55%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 3;
    display: none;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.tags-container ul {
    list-style: none;
    padding: 0;
}
.tags-container button {
    border: 0;
    outline: none;
    background-color: inherit;
}

.tags-container ul li {
    display: inline-block;
}

.tags-container .add {
    border-bottom: 0.1rem solid #eeeeee;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.tags-container .add li {
    margin-right: 1rem;
}

.tags-container .add li input{
    margin-left: 0.5rem;
    border-radius: 0.4rem;
    height: 1.5rem;
    border: 0.1rem solid #adadad;
    outline: none;
}

.tags-container .add button{
    background-color: #0066ee;
    color: white;
    padding: 0.25rem 1rem 0.25rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}


.tags-container .add button:active{
    background-color: #66afe9;
    color: white;
}

.tags-container .tags {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 70%;
    margin: 0;
    font-size: 1.4rem;

}
.tags-container .tags li{
    background-color: #0066ee;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    padding: 0.25rem 1rem 0.25rem 1rem;
    color: white;
}

.tags-container .delete {
    border-top: 0.1rem solid #eeeeee;
    padding-top: 1rem;
    width: 100%;
    text-align: right;
}
.tags-container .delete input {
    border-radius: 0.5rem;
    margin-right: 1rem;
    height: 1.5rem;
    border: 0.1rem solid #adadad;
    outline: none;
}

.tags-container .delete button {
    background-color: red;
    padding: 0.25rem 1rem 0.25rem 1rem;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    margin-right: 1.5rem;
}

.tags-container .delete button:active {
    background-color: #aaaaaa;
    color: white;
}


.mask {
    width: 100%;
    height: 100%;
    background-color: #666666;
    opacity: 0.3;
    position: absolute;
    z-index: 2;
    display: none;
}

.markdown li {
    line-height: 2.5rem;
}


.body .article .content .comment {
    height: 20rem;
    background-color: #666666;
}

.markdown a {
    color: #0645ad;
    text-decoration: none;
}

.markdown a:visited {
    color: #0b0080;
}

.markdown a:hover {
    color: #06e;
}

.markdown a:active {
    color: #faa700;
}

.markdown a:focus {
    outline: thin dotted;
}

.markdown a:hover, a:active {
    outline: 0;
}

.markdown ::-moz-selection {
    background: rgba(255, 255, 0, 0.3);
    color: #000;
}

.markdown ::selection {
    background: rgba(255, 255, 0, 0.3);
    color: #000;
}

.markdown a::-moz-selection {
    background: rgba(255, 255, 0, 0.3);
    color: #0645ad;
}

.markdown a::selection {
    background: rgba(255, 255, 0, 0.3);
    color: #0645ad;
}

.markdown p {
    margin: 1em 0;
    line-height: 2.5rem;
}

.markdown img {
    max-width: 100%;
}

.markdown h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #111;
    line-height: 1em;
}

.markdown h4, h5, h6 {
    font-weight: bold;
}

.markdown h1 {
    font-size: 2.5em;
}

.markdown h2 {
    font-size: 2em;
}

.markdown h3 {
    font-size: 1.5em;
}

.markdown h4 {
    font-size: 1.2em;
}

.markdown h5 {
    font-size: 1em;
}

.markdown h6 {
    font-size: 0.9em;
}

.markdown blockquote {
    color: #666666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
    background-color: #F7F7F7;
}

.markdown hr {
    display: block;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #eee;
    margin: 1em 0;
    padding: 0;
}

.markdown pre, code, kbd, samp {
    color: #000;
    font-family: monospace, monospace;
    _font-family: 'Consolas', monospace;
    font-size: 0.98em;
}

.markdown pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-right: 1rem;
}

.markdown code{
    font-family: "Consolas", arial, monospace;
    width: 96%;
    display: inline-block;
    color: white;
    background-color: #222222;
    padding: 1.5rem;
    margin-right: 1rem;
}



.markdown b,strong {
    font-weight: bold;
}

.markdown dfn {
    font-style: italic;
}

.markdown ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

.markdown mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

.markdown sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.markdown sup {
    top: -0.5em;
}

.markdown sub {
    bottom: -0.25em;
}

.markdown ul, ol {
    margin: 1em 0;
    padding: 0 0 0 2em;
}

.markdown li p:last-child {
    margin: 0;
}

.markdown dd {
    margin: 0 0 0 2em;
}

.markdown img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

.markdown table {
    border-collapse: collapse;
    border-spacing: 0;
}

.markdown td {
    vertical-align: top;
}

@media only screen and (min-width: 480px) {
    body {
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media print {
    * {
        background: transparent !important;
        color: black !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    body {
        font-size: 12pt;
        max-width: 100%;
    }

    .markdown  a, a:visited {
        text-decoration: underline;
    }

    .markdown hr {
        height: 1px;
        border: 0;
        border-bottom: 1px solid black;
    }

    .markdown a[href]:after {
        content: " (" attr(href) ")";
    }

    .markdown abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .markdown .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    .markdown pre, blockquote {
        border: 1px solid #999;
        padding-right: 1em;
        page-break-inside: avoid;
    }

    .markdown tr, img {
        page-break-inside: avoid;
    }

    .markdown img {
        max-width: 100% !important;
    }

    @page :left {
        margin: 15mm 20mm 15mm 10mm;
    }

    @page :right {
        margin: 15mm 10mm 15mm 20mm;
    }

    .markdown p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    .markdown h2, h3 {
        page-break-after: avoid;
    }
}