body,html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

nav {
    width: 15%;
    min-height: 100%;
    background-color: #3B3E43;
    color:white;
}

nav .user-info {
    text-align: center;
    margin-top: 1rem;
}

nav .user-info img {
    height: 4rem;
    border-radius: 4rem;
}

nav .user-info p {
    margin-top: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    cursor: pointer;
}

nav ul li a {
    color: white;
    width: 100%;
    display: inline-block;
    padding:0.5rem 0 0.5rem 2rem;
    text-decoration: none;
}

nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    color: white;
}

nav ul li a:active {
    color: white;
}

nav ul .focus {
    background-color: #000000;
}

.content {
    background-color: #0066ee;
    width: 85%;
    min-height: 100%;
}
