<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.joylife.lemon.dao.CommentMapper">
    <resultMap id="BaseResultMap" type="top.joylife.lemon.entity.Comment">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="article_id" property="articleId" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="user_head_img" property="userHeadImg" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
    </resultMap>
    
    <resultMap id="CommentVoMap" type="top.joylife.lemon.controller.vo.CommentVo">
        <id column="c_id" property="id" jdbcType="INTEGER"/>
        <result column="c_user_id" property="userId" jdbcType="INTEGER"/>
        <result column="c_article_id" property="articleId" jdbcType="INTEGER"/>
        <result column="c_content" property="content" jdbcType="VARCHAR"/>
        <result column="c_create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="c_delete_flag" property="deleteFlag" jdbcType="TINYINT"/>
        <result column="c_status" property="status" jdbcType="TINYINT"/>
        <result column="c_user_head_img" property="userHeadImg" jdbcType="VARCHAR"/>
        <result column="c_user_name" property="userName" jdbcType="VARCHAR"/>
        <association property="user" column="user_id" javaType="top.joylife.lemon.entity.User">
            <id column="u_id" property="id" jdbcType="INTEGER" />
            <result column="u_nickname" property="nickname" jdbcType="VARCHAR" />
            <result column="u_head_pic" property="headPic" jdbcType="VARCHAR" />
            <result column="u_create_time" property="createTime" jdbcType="TIMESTAMP" />
            <result column="u_email" property="email" jdbcType="VARCHAR" />
            <result column="u_update_time" property="updateTime" jdbcType="TIMESTAMP" />
            <result column="u_status" property="status" jdbcType="TINYINT" />
            <result column="u_phone" property="phone" jdbcType="VARCHAR" />
        </association>
    </resultMap>

    <sql id="Base_Column_List">
      id, user_id, article_id, content, create_time, delete_flag, status, user_head_img,
      user_name
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_comment
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--获取评论列表-->
    <select id="getComments" resultMap="CommentVoMap" parameterType="java.lang.Integer">
        select
          c.id c_id, c.user_id c_user_id,
          c.article_id c_article_id, c.content c_content,
          c.create_time c_create_time, c.delete_flag c_delete_flag,
          c.status c_status, c.user_head_img c_user_head_img,
          c.user_name c_user_name,u.id u_id,
          u.nickname u_nickname,u.head_pic u_head_pic,
          u.create_time u_create_time,u.email u_email,
          u.update_time u_update_time,u.status u_status,
          u.phone u_phone
        from t_comment c
        left join t_user u
        on c.user_id=u.id
        where c.article_id=#{articleId,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="top.joylife.lemon.entity.Comment">
    insert into t_comment (id, user_id, article_id, 
      content, create_time, delete_flag, 
      status, user_head_img, user_name
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{userHeadImg,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="top.joylife.lemon.entity.Comment">
        insert into t_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="articleId != null">
                article_id,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="userHeadImg != null">
                user_head_img,
            </if>
            <if test="userName != null">
                user_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="articleId != null">
                #{articleId,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="userHeadImg != null">
                #{userHeadImg,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="top.joylife.lemon.entity.Comment">
        update t_comment
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="articleId != null">
                article_id = #{articleId,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="userHeadImg != null">
                user_head_img = #{userHeadImg,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="top.joylife.lemon.entity.Comment">
    update t_comment
    set user_id = #{userId,jdbcType=INTEGER},
      article_id = #{articleId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      user_head_img = #{userHeadImg,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>