<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.joylife.lemon.dao.TagMapper" >
  <resultMap id="BaseResultMap" type="top.joylife.lemon.entity.Tag" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="article_count" property="articleCount" jdbcType="INTEGER" />
    <result column="bg_color" property="bgColor" jdbcType="CHAR" />
    <result column="font_color" property="fontColor" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, article_count, bg_color, font_color, create_time, update_time, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_tag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.joylife.lemon.entity.Tag" >
    insert into t_tag (id, name, article_count, 
      bg_color, font_color, create_time, 
      update_time, status)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{articleCount,jdbcType=INTEGER}, 
      #{bgColor,jdbcType=CHAR}, #{fontColor,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="top.joylife.lemon.entity.Tag" >
    insert into t_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="articleCount != null" >
        article_count,
      </if>
      <if test="bgColor != null" >
        bg_color,
      </if>
      <if test="fontColor != null" >
        font_color,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="articleCount != null" >
        #{articleCount,jdbcType=INTEGER},
      </if>
      <if test="bgColor != null" >
        #{bgColor,jdbcType=CHAR},
      </if>
      <if test="fontColor != null" >
        #{fontColor,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.joylife.lemon.entity.Tag" >
    update t_tag
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="articleCount != null" >
        article_count = #{articleCount,jdbcType=INTEGER},
      </if>
      <if test="bgColor != null" >
        bg_color = #{bgColor,jdbcType=CHAR},
      </if>
      <if test="fontColor != null" >
        font_color = #{fontColor,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.joylife.lemon.entity.Tag" >
    update t_tag
    set name = #{name,jdbcType=VARCHAR},
      article_count = #{articleCount,jdbcType=INTEGER},
      bg_color = #{bgColor,jdbcType=CHAR},
      font_color = #{fontColor,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>